* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

body {
    line-height: 1.6;
}

#large {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #ddd;
}
#large .item {
    padding-right: 0.5em;
    padding-left: 0.5em;
    cursor: pointer;
}

#small {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 201px;
    width: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #ddd;
}
#small .item {
    padding-right: 0.5em;
    padding-left: 0.5em;
    cursor: pointer;
}
#small .link {
    margin-left: 0.5em;
}
