* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

body {
    line-height: 1.6;
}
h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
}

#large {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #ddd;
}
#large .item {
    padding-right: 0.5em;
    padding-left: 0.5em;
    cursor: pointer;
}

#filter {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 201px;
    width: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #ddd;
}
#filter .item {
    padding-right: 0.5em;
    padding-left: 0.5em;
    cursor: pointer;
}

#small {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 402px;
    width: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #ddd;
}
#small .item {
    position: relative;
    padding-right: 0.5em;
    padding-left: 0.5em;
    cursor: pointer;
}
#small .hasArticle::before {
    position: absolute;
    right: 3px;
    top: 9px;
    content: "";
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 4px 0 4px 6px;
    border-color: transparent #000;
    border-style: dashed solid;
}
#small .link {
    margin-left: 0.5em;
}

#mini {
    margin-left: 603px;
}

.module {
    margin: 0.5em;
    padding: 13px;
    border: 1px solid #ddd;
}
.module .picture {
    max-width: 100%;
    display: block;
}
.module-progress {
    line-height: 30px;
}
.module-progress h2 {
    font-weight: normal;
}
.module-progress li {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: -1px;
    border: 1px solid #ddd;
    color: #999;
    text-align: center;    
}
.module-progress .done {
    background: green;
    color: #000;
}